<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Pagina principal
		script(src="https://kit.fontawesome.com/42c004fb79.js" crossorigin="anonymous")
		link(rel="stylesheet", href="css/styles.css")
	body
		include ../header/_header.pug
		include ../navBar/_navBar.pug
		main.main
			include ../blogs/_blogs.pug
			.sidebar
				.sidebar__container
					h2.sidebar__titulo Otros Post
					a(href="/" class="sidebar__enlace") entrada 1
					a(href="/" class="sidebar__enlace") entrada 2
					a(href="/" class="sidebar__enlace") entrada 3
					a(href="/" class="sidebar__enlace") entrada 4
					a(href="/" class="sidebar__enlace") entrada 5
		script(src="js/main.js")
		block content