<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Pagina principal
		script(src="https://kit.fontawesome.com/42c004fb79.js" crossorigin="anonymous")
		link(rel="stylesheet", href="css/styles.css")
	body
		include ../header/_header.pug
		include ../navBar/_navBar.pug
		script(src="js/main.js")
		block content