footer.footer-seccion-1
	.footer-seccion-1__container
		.footer-seccion-1__nosotros
			h2.footer-seccion-1__titulo Sobre nosotros
			p.footer-seccion-1__detalles Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
				|Nemo, eveniet. Nisi harum, ducimus tenetur corporis rerum 
				|accusamus repellendus cupiditate temporibus ratione doloribus, 
				|error totam iusto sunt laboriosam expedita consequatur! Expedita 
				|pariatur repellendus nemo accusamus commodi culpa fugiat, eum 
				|tempora suscipit!
		.footer-seccion-1__nav
			h2.footer-seccion-1__titulo Menu de navegación
.footer-seccion-2
	.footer-seccion-2__container
		p.footer-seccion-2__copyright BlogDeViajes - Todos los derechos reservados 2019 ©	